* {
    font-family:Arial, Helvetica, sans-serif;
    --primary: #885053;
    --secondary: #FE5F55;
    --tertiary: #777DA7;
    --quaternary: #94C9A9;
    --quinary: #C6ECAE;
}
header, h3 {
    color: var(--primary);

}

.navBar {
    display: inline;
    justify-content: flex-end;
}

a:hover {
    color: var(--tertiary);
}

.navLink {
    color: var(--quaternary);
    padding: 10px;
}
.photo {
    margin-top: 10px;
    border: var(--quinary) dashed 2px;
    background-color: var(--primary);
}
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://picsum.photos/1500/300");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-filter: blur(1px); */
}

.image_header {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.info {
    display: block;
    margin: 20px;
}

.sampleText {
    color: var(--tertiary);
}