* {
    font-family:Arial, Helvetica, sans-serif;
    --primary: #885053;
    --secondary: #FE5F55;
    --tertiary: #777DA7;
    --quaternary: #94C9A9;
    --quinary: #C6ECAE;
    box-sizing: border-box;
}
/* all headers */
.header {
    color: var(--primary);
    text-align: center;
}
/* navigation start */
.navBar {
    display: inline;
    justify-content: flex-end;
}

a:hover {
    color: var(--tertiary);
}

.navLink {
    color: var(--quaternary);
    padding: 10px;
}
/* nav ends */

/* main photo */
.photo {
    margin-top: 10px;
    border: var(--quinary) dashed 2px;
    background-color: var(--primary);
}
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://picsum.photos/1500/300");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image_header {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* photo ends */

/* main content */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.info {
    float: left;
    border: var(--quinary) dashed 2px;
    margin: 1px;
    padding: 5px;
    line-height: 20px;
}

.info.left, .info.right {
    width: 23%;
}
.left {
    text-align: right;
}
.right {
    text-align: left;
}

.info.center {
    width: 50%;
    text-align: center;
}


.sampleText {
    color: var(--tertiary);

}

@media screen and (max-width: 600px) {
    .info.left, .info.center, .info.right, .header.left, .header.right{
      width: 100%;
      text-align: center;
    }
  }